

@model Nexus.Models.Product

@{
    Layout = "TechnicalSideBar";
}

<!-- Liên kết tới file CSS -->
<link rel="stylesheet" href="~/css/PrDetail.css" asp-append-version="true" />

<h2 style="text-align:center;">Product Details</h2>

<div class="product-details">
    <div>
        <label>Product ID:</label>
        <span>@Model.ProductId</span>
    </div>
    <div>
        <label>Name:</label>
        <span>@Model.Name</span>
    </div>
    <div>
        <label>Description:</label>
        <span>@Model.Description</span>
    </div>
    <div>
        <label>Price:</label>
        <span>@Model.Price</span>
    </div>
    <div>
        <label>Vendor:</label>
        <span>@Model.Vendor.Name</span>
    </div>
    <div>
        <label>Quantity:</label>
        <span>@Model.Quantity</span>
    </div>
    <div class="img-container">
        <label>Image:</label>
        <img src="@Model.img" alt="Product Image" class="img-fluid" />
    </div>
</div>

<a asp-controller="Admin" asp-action="EditProduct" asp-route-id="@Model.ProductId" class="edit_btn">Edit</a>
<a asp-controller="Admin" asp-action="Index" class="back_btn">Back to List</a>