@model Nexus.Models.Employee

@{
    Layout = "AdminSideBar";
}
 <link rel="stylesheet" href="~/css/employeeDetail.css" />
<link rel="stylesheet" href="~/css/DetailPac.css" />
@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
 *@
@* <div class="detail"> *@
<div class="service-package-details">
    <h2>Employee Details</h2>
    <div >
            <div>
                <label> ID:</label>
            <span>@Model.EmployeeId</span>
            </div>
            <div>
                <label>Name:</label>
                <span>@Model.Name</span>
            </div>
            <div>
                <label>Email:</label>
                <span>@Model.Email</span>
            </div>
            <div>
                <label>Password:</label>
                <span>@Model.Password</span>
            </div>
            <div>
                <label>Role:</label>
                <span>@Model.Role.RoleName</span>
            </div>
            <div>
                <label>Shop address:</label>
                <span>@Model.Shop.Address</span>
            </div>
        <div>
            <a asp-action="TbEmployee">Back to List</a>
        </div>
    </div>
</div>


