@model Nexus.Models.ServicePackage

@{
    Layout = "AdminSideBar";
}

<link rel="stylesheet" href="~/css/DetailPac.css" />

<div class="service-package-details">
    <div>
        <label>Package ID:</label>
        <span>@Model.PackageId</span>
    </div>
    <div>
        <label>Name:</label>
        <span>@Model.Name</span>
    </div>
    <div>
        <label>Description:</label>
        <span>@Model.Description</span>
    </div>
    <div>
        <label>Price:</label>
        <span>@Model.Price</span>
    </div>
    <div>
        <label>Connection Type:</label>
        <span>@Model.ConnectionType?.Name</span>
    </div>
    <div>
        <label>Status:</label>
        <span>@(Model.status ? "Active" : "Inactive")</span>
    </div>
</div>

<a asp-controller="Admin" asp-action="EditPac" asp-route-id="@Model.PackageId" class="edit_btn">Edit</a>
<a asp-controller="Admin" asp-action="Index" class="back_btn">Back to List</a>
