@model List<ServicePackage>
<!-- CONTENT -->
<link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
@{
    Layout = "AdminSideBar";
}


<div class="table-data">
    <div class="order">
        <div class="head">
            <h3>Recent Orders</h3>
            <p>
                <a asp-controller="Admin" asp-action="AddPac" class="create_btn">Create New</a>
            </p>

        </div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
               
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.PackageId</td>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@(item.status ? "active" : "inactive")</td>
                        <td>
                            <a class="edit_btn" asp-controller="Admin" asp-action="PacDetails" asp-route-id="@item.PackageId">Detail</a>
                            <a class="edit_btn" asp-controller="Admin" asp-action="EditPac" asp-route-id="@item.PackageId">Edit</a>
                            <a class="del_btn" asp-action="DelPac" asp-route-id="@item.PackageId" onclick="return confirm('Do you want to delete this Pac?')">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/js/script.js"></script>

